@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  /* Primary Colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}

body {
  color: var(--white);
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
}

.card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);

  width: 900px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--dark-desaturated-blue);
}

.card__content,
.card__photo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__content {
  padding: 40px;
}

.card__title {
  margin-bottom: 30px;
}

.card__title--accent {
  color: var(--soft-violet);
}

.card__paragraph {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 60px;
  color: var(--slightly-transparent-white);
}

.card__numbers {
  display: grid;
  gap: 15px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  height: 60px;
}

.card__stat {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.card__date {
  font-weight: 700;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
}

.card__legend {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  align-items: center;

  letter-spacing: 2px;
  font-variant: small-caps;
  color: var(--slightly-transparent-white-stat);
}

.card__picture {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--soft-violet);
}

.card__img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 860px) {
  .card {
    width: 90%;
  }

  .card__title {
    margin-bottom: 20px;
  }

  .card__paragraph {
    margin-bottom: 10px;
  }
}

@media (max-width: 750px) {
  .card__title {
    font-size: 1.8rem;
  }

  .card__paragraph {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .card__numbers {
    gap: 8px;
  }

  .card__date {
    font-size: 1.2rem;
  }

  .card__stat {
    font-size: 14px;
    letter-spacing: 0;
  }
}

@media (max-width: 650px) {
  .card {
    height: 450px;
  }

  .card__content {
    padding: 20px 30px;
  }

  .card__numbers {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (max-width: 570px) {
  .container {
    display: block;
    padding: 20px;
  }

  .card {
    height: 90%;
    margin: 0 auto;
    flex-direction: row-reverse;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .card__content {
    padding: 40px;
    grid-row: 2/3;
  }

  .card__title {
    text-align: center;
  }

  .card__paragraph {
    font-size: 15px;
    text-align: center;
  }

  .card__date,
  .card__legend {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .card {
    grid-template-rows: 1fr 2fr;
  }

  .card__content {
    padding: 20px;
  }

  .card__title {
    font-size: 1.6rem;
  }

  .card__numbers {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 360px) {
  .card__title {
    font-size: 1.2rem;
  }

  .card__paragraph {
    margin-bottom: 15px;
  }
}
